<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>titleArray</key>
	<array>
		<string>保险公司新人培训班会议通知

</string>
		<string>关于召开产险公司工作会议的通知</string>
		<string>关于召开全国保险工作会议的通知</string>
	</array>
	<key>detailArray</key>
	<array>
		<string>  关于召开农银人寿山西分公司新人培训班 的通知   忻州中心支公司、太原本部：  为了提升太原本部客户经理展业技能、加强专业水平，更为了确保银保全年任务的顺利达成。经分公司总经理室同意，决定于2014年10月1日-10月5日在忻州召开“农银人寿山西分公司太原本部-忻州中支新人培训班”，原本部经理陈建、现将有关事项通知如下： 一、培训时间：  2014年10月1日（周三） 二、培训地点： 忻州金穗支行会议室 三、参会人员：  分公司领导、忻州中心支公司负责人、太原本部银保负责人、分公司内勤、忻州中心支公司外勤、银保太原本部外勤。</string>
		<string>云保监发〔2011〕36号
　　各财产保险公司省级分公司(不含出口信用)，省保险行业协会：
　　为分析我省产险市场2011年前两个月运行情况，我局将召开产险公司工作会议，现将会议有关要求通知如下：
　　一、 会议时间及地点
　　201x年3月9日(周三)上午9：10，保监局九楼会议室
　　二、 参会人员
　　各财产保险省分公司主要负责人，省保险行业协会秘书长、分管产险工作的副秘书长。
　　三、 会议主要内容
　　(一)分析201x年前两个月产险工作情况特别是工作中产生的新问题;
　　(二)听取各产险公司对进一步规范市场秩序的意见和建议;
　　(三)2011年1月保费负增长的原因及加快发展的具体措施。
　　请各公司根据上述内容准备5分钟以内的书面发言材料，一式三份。
　　四、其他要求
　　(一)请各公司于3月8日上午12：00前将参会人员名单传真至财产保险监管处。
　　(二)因故不能参加会议的，须提供书面请假条，并经保监局领导同意。
　　(三)请参会人员准时参会，遵守会议纪律。
　　二0一X年三月七日</string>
		<string>保监厅函〔2009〕461号
　　各保监局，机关各部门，国有保险公司监事会，中国保险行业协会，中国保险学会，中国保险保障基金有限责任公司，各保险公司、保险资产管理公司，有关保险中介公司：
　　为深入贯彻落实科学发展观和中央经济工作会议精神，及时总结20xx年保险业发展情况，部署201x年保险发展工作，保监会定于近期在京召开全国保险工作会议。现将有关事项通知如下：
　　一、会议时间
　　201x年1月20日，会期1天。
　　二、会议地点
　　三、参会人员
　　(一)保监会领导及国有保险公司监事会主席;
　　(二)各保监局领导班子成员;
　　(三)保监会机关及国有保险公司监事会副局级以上领导;
　　(四)中国保险行业协会、中国保险学会的会长和秘书长、保险保障基金公司主要负责人;
　　(五)保监会直管保险总公司班子成员及其子公司董事长和总经理;
　　(六)其他保险公司和保险资产管理公司董事长、总经理;
　　(七)外资保险公司总经理或中国区负责人;
　　(八)保险中介公司代表;
　　(九)中央和国务院有关部门领导;
　　(十)专家学者代表;
　　(十一)新闻媒体。
　　四、其他事项
　　(一)本次会议在京西宾馆统一安排代表住宿，其中公司代表的费用由公司自理(现金或支票结算)。
　　(二)请各单位于1月19日下午14:00-19:00，持此通知或此通知传真件、复印件到京西宾馆西楼大堂报到。
　　(三)请各单位于1月7日前将参会人员姓名、职务、性别、民族、地区和国籍、联系人和联系方式报保监会办公厅，其中集团公司统一报名。
　　(四)请各保监局1月15日前将参会领导的航班号、车次等报办公厅行政处。保监会将根据航班、车次情况安排接送。
　　中国保险监督管理委员会
　　二○○X年十二月三十日</string>
	</array>
</dict>
</plist>
